<h1><%= @name %></h1>
<div><a href="/<%= @slug %>/edit" class="link">Edit</a> | <form class="delete" method="post" action="/<%= @slug %>/delete"><button type="submit">Delete</button></form></div>
<ul>
  <li><a href="http://<%= @url %>" class="link" target="_blank"><%= @url %></a></li>
  <li><%= "#{@cost.format}/#{frequency_to_s @frequency}"%></li>
</ul>